<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/form.css">
</head>

<body>

    <h3>Enter Your Project Details</h3>

    <div>
        <form action="/project" method="POST">
            <label for="project">Project Name</label>
            <input type="text" id="project" name="project" placeholder="Your project name..">

            <label for="description">Describe Your project</label>
            <textarea id="description" name="description" rows="4" cols="50" placeholder="Describe your project.."></textarea>


            <button>Submit</button>
        </form>
    </div>
</body>

</html>