<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/form.css">
</head>

<body>

    <h3>Enter Your Education Details</h3>

    <div>
        <form method="POST" action="/technical-skills">
            <label for="Languages">Languages</label>
            <input type="text" id="languages" name="languages" placeholder="Enter comma seperated languages..">
            <button>Submit</button>
        </form>
    </div>
</body>

</html>