<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/form.css">
</head>

<body>

    <h3>Enter Your Work Experience</h3>

    <div>
        <form action="/work-experience" method="POST">
            <label for="company">Company Name</label>
            <input type="text" id="company" name="company" placeholder="Your company name..">

            <label for="description">Describe Your Work</label>
            <textarea id="description" name="description" rows="4" cols="50" placeholder="Describe your Work.."></textarea>

            <button>ADD+</button>
        </form>
    </div>
</body>

</html>